html(lang="en")
	head
		title Welcome!

		script(type='text/javascript',src='/js/lib/jquery/jquery.min.js')
		script(type='text/javascript',src='/js/lib/jquery-ui/jquery-ui-1.10.0.custom.js')
		script(type='text/javascript',src='/js/lib/jquery-ui/plugins/jTable/jquery.jtable.min.js')
		script(type='text/javascript',src='/js/lib/jquery-ui/plugins/jTable/diagrams_adapter.js')
		
		link(rel='stylesheet',type='text/css', href='/js/lib/jquery-ui/css/smoothness/jquery-ui-1.10.0.custom.min.css')
		link(rel='stylesheet',type='text/css', href='js/lib/jquery-ui/plugins/jTable/themes/metro/lightgray/jtable.min.css')
		link(rel='stylesheet',type='text/css', href='/css/home.css')
		
		
		div#table_container
		